In [2]:
import pandas as pd
import numpy as np
import config
import sql_con

In [3]:
# get config module variables
ROOT_DIR = config.ROOT_DIR
select_records = sql_con.select_records
insert_records = sql_con.insert_records
conn_odbc = sql_con.conn_odbc
read_contents = sql_con.read_contents

In [6]:
# read sales data
sales_df = pd.read_csv(rf"{ROOT_DIR}/data/sales.csv", index_col="Unnamed: 0")

In [7]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 1 to 178
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   product    178 non-null    object
 1   client     178 non-null    object
 2   status     178 non-null    object
 3   amount     178 non-null    float64
 4   num_users  178 non-null    int64
dtypes: float64(1), int64(1), object(3)
memory usage: 8.3+ KB

In [8]:
sales_df.head()

     product   client status   amount  num_users
1  Product F  Current    Won  7389.52         19
2  Product C      New    Won  4493.01         43
3  Product B      New    Won  5738.09         87
4  Product I  Current    Won  2591.24         83
5  Product E  Current    Won  6622.97         17

In [14]:
prod_grp = sales_df.groupby(by="product")
for i, n in prod_grp:
    print("----")
    print(i)
    print("----")
    print(n)

----
Product A
----
       product   client status   amount  num_users
19   Product A  Current    Won  9913.27         34
24   Product A  Current    Won  1625.19         23
35   Product A      New   Lost  5656.77         33
42   Product A  Current   Lost  5597.34         89
43   Product A  Current    Won  5827.35         50
54   Product A  Current    Won  1649.91         12
55   Product A  Current    Won  6010.04         24
72   Product A  Current    Won  5945.63         55
92   Product A  Current    Won  5121.83          2
93   Product A  Current    Won  4509.96         92
97   Product A      New   Lost  1998.75         39
100  Product A  Current    Won  5758.67         23
115  Product A  Current    Won  3371.70         18
131  Product A  Current    Won  3425.45         82
138  Product A  Current    Won  5145.01         89
143  Product A  Current    Won  3847.71         17
144  Product A  Current    Won  5736.79         72
146  Product A  Current    Won  4682.94         63
153  Product A  Current   Lost  9027.17         71
159  Product A  Current    Won  4665.88         20
169  Product A  Current    Won  8448.77          8
174  Product A  Current   Lost  5835.32         23
177  Product A  Current    Won  6448.07         34
----
Product B
----
       product   client status   amount  num_users
3    Product B      New    Won  5738.09         87
6    Product B      New    Won  5496.27          2
10   Product B  Current    Won  5237.24         23
11   Product B  Current    Won  2273.55         26
15   Product B  Current   Lost  7030.54         41
..         ...      ...    ...      ...        ...
155  Product B  Current   Lost  6979.77          8
157  Product B  Current    Won  6204.95         58
160  Product B  Current    Won  1676.09         29
166  Product B  Current   Lost  4371.48          6
168  Product B  Current    Won  4965.08          9

[62 rows x 5 columns]
----
Product C
----
       product   client status   amount  num_users
2    Product C      New    Won  4493.01         43
7    Product C  Current    Won  3043.13         29
12   Product C      New   Lost  2480.33          6
26   Product C      New    Won  3342.35         16
31   Product C      New    Won  6151.14         66
48   Product C  Current   Lost  1548.61         65
49   Product C  Current   Lost  3727.66         19
58   Product C  Current   Lost  5411.26         17
79   Product C  Current    Won  1300.89         42
88   Product C  Current    Won  3579.63          3
125  Product C  Current    Won   482.01         65
126  Product C  Current    Won  4796.13         44
139  Product C  Current    Won  -539.23         11
164  Product C  Current    Won  7202.17         31
167  Product C      New   Lost  3779.86         11
----
Product D
----
       product   client status   amount  num_users
13   Product D      New   Lost  4179.72         15
17   Product D  Current    Won  5282.57         58
44   Product D  Current    Won  3328.79         40
57   Product D  Current    Won  6820.84         42
62   Product D  Current    Won  6733.62         27
74   Product D      New   Lost  2723.39         42
75   Product D  Current   Lost  4274.80          9
76   Product D  Current    Won  9215.41          3
91   Product D      New   Lost  5744.26         17
95   Product D  Current   Lost  4736.38         73
103  Product D      New   Lost  1196.53         63
105  Product D  Current    Won  4110.98         39
113  Product D  Current    Won  3727.65         12
118  Product D  Current   Lost  3416.82         12
119  Product D  Current   Lost  5592.66         85
121  Product D  Current   Lost  8180.81         96
127  Product D      New   Lost  4861.06         16
129  Product D  Current   Lost  4843.50         80
134  Product D  Current    Won  5992.86         98
135  Product D  Current    Won  3976.47         29
136  Product D  Current    Won  4814.25         67
147  Product D  Current   Lost  5560.03         68
148  Product D  Current   Lost  7969.67         23
149  Product D  Current    Won  3485.48         52
150  Product D  Current    Won  3415.63         36
151  Product D  Current   Lost  7550.60         17
152  Product D  Current    Won  6221.36          2
154  Product D  Current   Lost  5436.98         54
156  Product D  Current    Won  4509.53          5
158  Product D  Current    Won  5817.77          5
161  Product D  Current   Lost  6690.06         60
162  Product D  Current    Won  4837.09         31
163  Product D  Current    Won  6755.66         59
170  Product D  Current   Lost  2101.18          5
171  Product D  Current   Lost  8031.36         59
172  Product D  Current    Won  1340.15         66
173  Product D  Current   Lost  3086.88         55
175  Product D  Current    Won  6377.50         12
176  Product D  Current    Won  3537.61         28
178  Product D      New   Lost  7320.05         72
----
Product E
----
       product   client status   amount  num_users
5    Product E  Current    Won  6622.97         17
34   Product E      New   Lost  3706.78          3
60   Product E  Current   Lost  6407.69          6
98   Product E  Current   Lost  4823.99         35
104  Product E  Current    Won  2910.08         14
----
Product F
----
       product   client status   amount  num_users
1    Product F  Current    Won  7389.52         19
9    Product F  Current    Won  6780.85         80
14   Product F      New    Won  4918.79         43
21   Product F  Current   Lost  6849.12         19
23   Product F  Current    Won  5226.04         82
38   Product F  Current    Won  3357.24         53
63   Product F  Current    Won  5137.67          3
69   Product F  Current   Lost  4430.53          7
99   Product F  Current    Won  1420.71         33
116  Product F  Current   Lost  1664.40         58
165  Product F      New    Won  7576.35         29
----
Product G
----
      product   client status   amount  num_users
67  Product G      New   Lost  4279.60         51
85  Product G  Current   Lost  9062.59         24
----
Product H
----
       product   client status   amount  num_users
101  Product H  Current    Won  6201.23         48
102  Product H  Current    Won  5116.34         63
106  Product H  Current    Won   416.55         47
107  Product H  Current    Won  4547.97         13
108  Product H  Current    Won  9520.58         99
109  Product H  Current    Won  3608.69         56
110  Product H  Current    Won  5257.16         22
112  Product H      New   Lost   787.57         24
----
Product I
----
      product   client status   amount  num_users
4   Product I  Current    Won  2591.24         83
20  Product I  Current    Won  3220.45         45
33  Product I  Current    Won  3711.23         14
40  Product I  Current    Won  6533.16         47
53  Product I      New    Won  7153.77         48
56  Product I  Current    Won  1606.86         24
71  Product I  Current    Won  2588.60         51
----
Product J
----
      product client status   amount  num_users
70  Product J    New   Lost  3182.09          2
96  Product J    New   Lost  4269.87         18
----
Product N
----
      product   client status   amount  num_users
8   Product N  Current    Won  7340.64         13
18  Product N  Current    Won  8627.20          7
37  Product N  Current    Won  2738.93         32

In [15]:
prod_grp.count()

           client  status  amount  num_users
product
Product A      23      23      23         23
Product B      62      62      62         62
Product C      15      15      15         15
Product D      40      40      40         40
Product E       5       5       5          5
Product F      11      11      11         11
Product G       2       2       2          2
Product H       8       8       8          8
Product I       7       7       7          7
Product J       2       2       2          2
Product N       3       3       3          3

In [19]:
prod_prob = sales_df["product"].value_counts(normalize=True)
prod_prob

Product B    0.348315
Product D    0.224719
Product A    0.129213
Product C    0.084270
Product F    0.061798
Product H    0.044944
Product I    0.039326
Product E    0.028090
Product N    0.016854
Product G    0.011236
Product J    0.011236
Name: product, dtype: float64